extends:
- '@inveniosoftware/eslint-config-invenio'
- '@inveniosoftware/eslint-config-invenio/prettier'

rules:
  react/require-default-props: 'off'

settings:
  react:
    version: "16"

parser: '@babel/eslint-parser'
